.dockerignore                                                                                              
.github
.gitignore
.parcel-cache
.vscode
.DS_Store
Dockerfile
node_modules
build
coverage
src
test
priv

*.beam
*.ez
erl_crash.dump

yarn-error.log

.proxyrc
.tool-versions
fly.toml               
gleam.toml
manifest.toml
tailwind.config.js
app.css

!client/src